body {
    font-family: SourceSansPro,Helvetica,sans-serif;
    font-style: italic;
    background-color: beige;
    
}
h1 {
    font-weight: bolder;
}

#recipe {
    background-color: rgba(182, 240, 255, 0.8);
    margin-right: 50%;
   
}

#recipe p {
    color: rgb(139, 3, 21);
}

#recipe h2 {
    color: rgb(139, 3, 21);
    
}

#recipe .recipe-child {
 padding-top: 2%;
 padding-left: 2%;
}
